



.mastergrid1{
    margin-top: 400px;
    height: 600px;
    background-color: transparent;
}

.producto-principal{
    border-radius: 8px;
    margin-right: 50px;
    height: 500px;
}

.precio-producto p{
    font-size:40px;
    color: rgb(24,24,24);
    margin-top: 20px;
    margin-bottom: 20px;
}

.lateral{
    float: left;
    width: max-content;
    
    
}
.footer3{
    background-color: black;
    position: absolute;
    margin-bottom: 0;

}
.tag{
    color: rgb(93,93,93);
    font-size: medium;
    margin-top: 5px;

}
.fav{
    height: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.butons{
    background-color:rgb(30,206,138) ;
    border-radius: 8px ;
    border-color: green;
    shape-margin: 0.5px;    
    margin-top: 20px;
}

.list-description{
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-description p{
    font-size:xx-large
}
    
    